*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.todo_items {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  width: 45%;
}

.todo__item {
  margin-top: -1%;
}

.select-status {
  margin-bottom: 2%;

}

.checked {
  opacity: 0.3;
  text-decoration: line-through;
}

.btn-delete {
  float: right;
}